# -----------------------------------------------------------------------------
# WebExt Framework Rewriting rules
# -----------------------------------------------------------------------------
# Author: Michael "Tekkla" Zorn
# Contact: webext@tekkla.de
# Copyright 2014 by (see Author)
# See http://...
# -----------------------------------------------------------------------------
# These rules control the requests through the web extension modification
# for SMF forum. Since other mods also uses mod_rewrite, you can run into
# problems. If you have a problem with this mod and another mod_rewrite using
# mod, please contact me, so I can try to fix this problem.
# -----------------------------------------------------------------------------

<IfModule mod_rewrite.c>

	RewriteEngine On

	# No rewrite for the following endings
	RewriteRule \.(css|jpe?g|gif|png|js|txt|bmp|xml|json|eot|svg|ttf|woff|ico)$ - [NC,L]
	
	# Do not rewrite urls to js tools like cke
	RewriteRule ^Core/Tools/ - [NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php [L]
	
</IfModule>