@CHARSET "UTF-8";

html {
	height: 100%;
}

h1[id] {
	margin-top: 0;
	padding-top: 20px;
}

#app-doc-sidebar.affix {
	position: fixed;
	top: 20px;
	width: 263px;
}

#app-doc-sidebar.affix-bottom {
	position: absolute;
}

#app-doc-sidebar>ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

#app-doc-sidebar .nav .nav {
	display: none;
	padding-bottom: 10px;
}

#app-doc-sidebar .nav .nav>li>a {
	padding-left: 30px;
	font-size: 12px;
}

#app-doc-sidebar .nav>.active>.nav {
	display: block;
}

#app-doc-sidebar .nav>.active>a,#app-doc-sidebar .nav>.active:hover>a,#app-doc-sidebar .nav>.active:focus>a
	{
	padding-left: 25px;
	font-weight: 700;
	color: #563d7c;
	background-color: transparent;
	border-left: 2px solid #563d7c;
}

.app-doc-section {
	margin-bottom: 60px;
}